.btn{
    background-color: #222;
    color: white;
    padding: 0.7em 1.2em;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    color: #ffbb33;
}