.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.items {
  margin-right: 1em;
}

.items a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.items a:hover {
  color: #ffbb33;
}
